/* Add our own Custom CSS styles here */

/* Move down content because we have a fixed navbar that is 50px tall */

* {
	font-family: 'Oxygen', sans-serif;
}

#foodhome {
    background-image: url('../img/tempfood.jpg');
    height: 400px;
}

#homebox {
    opacity: 0.7;
    background-color: white;
    margin-top: 3%;
    width: 50%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ffdb4d;	
}

.navbar {
	background-color: darkorange;
    border-bottom: darkorange;
}

h3 {
    color: white; 
    margin-top: 10px;
}

h2 {
    font-size: 50px;
}

a:link {
    text-decoration: none;
}

#navlink {
    color: white;
    font-size: 35px;
}

#navlink:hover {
    color: #ffdb4d;
}

a {
    color: black;
}

a:hover {
    color:white;
}

h4 {
    float:right;
    color:white;
}


#donate-intro {
    font-size: 25px;
    margin-left: 15px;
}

#charities {
    list-style: none;
    padding: 10px;
}

.charity {
    background-color: lightyellow;
    padding: 15px;
    padding-left: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 98%;
}

.charity-title {
    font-size: 25px;
}

.charity-description {
    font-size: 15px;
}

.learn-more{
    color: blue;
}
.learn-more:hover{
    color: blue;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

td {
    padding: 5px;
    width: 300px;
}

#shopbox {
    background-color: lightyellow;
    border-radius: 20px;
    padding: 20px;
}
.tc-name {
    font-size: 25px;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 10px;
}

.wide{
    width: 150px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 75%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

input[type='checkbox'] {
    transform:scale(2, 2);
}

.modal-header {
    background-color: orange;
}

.modal-body {
    background-color: #ffdb4d;
}

.shop-title {
    font-size: 63px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: center;
}

li {
    display:inline-block;
    padding-right: 100px;
}

button {
    margin-left: 10px;
}

#add {
    background-color: lightblue;
    border-color: lightblue;
}

#clear {
    background-color: lightcoral;
    border-color: lightcoral;
    margin-left:50%;
}
