<!DOCTYPE html>
<html lang="en">
  <head>
                        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
       $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title>foodo | Track</title>

    <!-- Bootstrap core CSS -->
          <link href="../css/bootstrap.min.css" rel="stylesheet">
      <link href="../css/custom.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h3><a href="home.html" id="navlink">foodo</a></h3>
        </div>
              
        <div id="navbar" class="navbar-collapse collapse">
          <h4>Theodore <button type="submit" class="btn btn-success">Sign out</button></h4>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
      
      <div class="container">
          <br>
      <iframe src="http://e.infogr.am/foodo-96214668004?src=embed" title="Foodo" width="50%" height="600px" scrolling="no" frameborder="0" style="border:none; float:left;"></iframe><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;margin:0 30px">
          </div>
          <div style="padding-left: 60%;">
          <h2>Log waste</h2>
              <br>
              <p>Date: <input type="text" id="datepicker"></p>
              <br>
            <p>Food: <input type="text"></p>
              <br>
            <p>Amount: <input type="text"></p>
              <br>
            <button type="submit" class="btn btn-success">Save</button>
      </div>
          </div>
      <br>
<hr>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><a href="shop.html"><i class="fa fa-shopping-cart"></i>  Shop</a></h2>
        </div>
        <div class="col-md-4">
          <h2><a href="track.html"><i class="fa fa-line-chart"></i>  Track</a></h2>
       </div>
        <div class="col-md-4">
          <h2><a href="give.html"><span class="glyphicon glyphicon-grain"></span>  Give</a></h2>
            
        </div>
      </div>

      <footer>
      </footer>
    </div> <!-- /container -->

      <footer>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
